<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form>
        <input id="input-username" type="text" name="username" placeholder="username" required>
        <input id="input-password"type="password" name="password" placeholder="password" required>
        <button id = "btn-login"> Login</button>
        <a href="/register">still dont have a account</a>
    </form>
    <script src="/controller/login.js"></script>
</body>
</html>