<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile</h1>
    <p>this is you profiel</p>
    <a href="/home">home</a>
    <a href="/logout">logout</a>
    <div>
        <textarea id = "text-post"name="text_" cols="30" rows="5"></textarea>
        <div class = "actions-post">
            <button>image</button>
            <button>gif</button>
            <button>video</button>
        </div>
        <div class = "add-categories-container">
            <select name="categories" id="">
                <option value="selectionar">seleccionar</option>
                <option value="">a</option>
            </select>
        </div>
        <button id = "btn-create-post" >create post</button>
    </div>
    <div id = "container-posts">

    </div>
    <script src = "/controller/profile.js"></script>
</body>
</html>